<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0</key>
	<array>
		<string>App上线</string>
	</array>
	<key>1.0.4</key>
	<array>
		<string>1. 修复支付宝相关问题；</string>
		<string>2. 修复绑定银行卡bug；</string>
		<string>3. 修复其他已知问题。</string>
	</array>
	<key>1.0.5</key>
	<array>
		<string>1. 版本更新测试</string>
	</array>
</dict>
</plist>
